.heroContent{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .mainHeder{
    text-align: center;
    /* top: 30%; */
    /* left: 2%; */
    color: #dbd4e8;
    position: absolute;
    /* size: 72px; */
    width: 100%;
    font-size: 35px;
    background-color: #6d6186;
    height: 231px;
    /* margin: 15px; */
    margin-top: 60px;
    border-radius: 10px;
    opacity: 0.8;
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: rgba(219, 203, 203, 0.23);
}
.searchButton{
    position: fixed;
    text-align: center;
    top: -1px;
    left: 205px;
}
.MuiButton-contained {
    height: 56px;
    width: 135px;
}
/* }
@media only screen and (max-width: 220px) {
    .heroContent {
      margin: 2% 0 !important;
    }
  
} */

@media only screen and (max-width: 770px) {
  .heroContent {
    position: fixed;
    top: 30rem;
    left: 30%;
  }
  .mainHeder{
    height: 385px;
    top: -40px;
    font-size: 30px;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item  {
  margin: 0;
  display: contents;
}
}
