body, html{
    background-color: rgb(105, 57, 57);
    height: 100%;
    background-image:  url("./assets/covid-19-pic.jpg");
}
.hero-image{
   
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.root{
    Width: 275px;
    flex-grow: 1;
  }
  .bullet {
    display: 'inline-block';
    margin: '0 2px';
    transform: 'scale(0.8)';
  }
  .title {
      font-size: 14;
  }
  .pos{
    margin-bottom: 12;
  }
.box{
    flex-flow: row;
    position: absolute;
    top: 30rem;
    margin: 20px;
    padding-bottom: 20px;
}
.MuiCard-root{
    margin-bottom: 20px ;
}
.lastUpdated {
    font-style: italic;
    color: #666;
    font-size: .875rem;
}
.paper{
    padding: spacing(2);
    text-align: center; 
    display: flexbox;
    margin-left: 20px;
  }
  .MuiGrid-grid-xs-true{
      display: flex;
  }

  .MuiPaper-elevation1 {
    box-shadow:none;
    border: none;
    margin-top: 20px;
    margin-right: 17px;
}

@media only screen and (max-width: 220px) {
  .heroContent {
    height: 400px; 
    top: -53px;
    font-size: 20px; 
  }

} 
@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .box{
    
    width: 100%;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 320px){
  .mainHeder {
    height: 400px; 
    top: -53px;
    font-size: 20px; 
  }
}

@media screen and (orientation: portrait) {
  html {
    width: 100%;
    position: absolute;
    
  }
}
/* 
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */