body, html{
    background-color: rgb(105, 57, 57);
    height: 100%;
    background-image:  url("./assets/covid-19-pic.jpg");
}
.hero-image{
   
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}


/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url()
} */
.root{
    Width: 275px;
    flex-grow: 1;
  }
  .bullet {
    display: 'inline-block';
    margin: '0 2px';
    transform: 'scale(0.8)';
  }
  .title {
      font-size: 14;
  }
  .pos{
    margin-bottom: 12;
  }
.box{
    flex-flow: row;
    /* width: 20px; */
    position: absolute;
    top: 30rem;
    margin: 20px;
    padding-bottom: 20px;
}
.MuiCard-root{
    margin-bottom: 20px ;
}
.lastUpdated {
    font-style: italic;
    color: #666;
    font-size: .875rem;
}
.paper{
    padding: spacing(2);
    text-align: center; 
    display: flexbox;
    margin-left: 20px;
  }
  .MuiGrid-grid-xs-true{
      display: flex;
  }

  .MuiPaper-elevation1 {
    box-shadow:none;
    border: none;
    margin-top: 20px;
    margin-right: 17px;
}