body, html{
    background-color: rgb(105, 57, 57);
    height: 100%;
    background-image:  url("./assets/covid-19-pic.jpg");
}
.hero-image{
   
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}


/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url()
} */
.root{
    Width: 275px;
  }
  .bullet {
    display: 'inline-block';
    margin: '0 2px';
    transform: 'scale(0.8)';
  }
  title {
      font-size: 14;
  }
  pos{
    margin-bottom: 12;
  }
